<!--Slider-->
<section>
    <div class="slider">
        <ul class="slides">
            <li>
                <img src="http://lorempixel.com/580/250/nature/1"> <!-- random image -->
                <div class="caption center-align">
                    <h3>This is our big Tagline!</h3>
                    <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
                </div>
            </li>
            <li>
                <img src="http://lorempixel.com/580/250/nature/2"> <!-- random image -->
                <div class="caption left-align">
                    <h3>Left Aligned Caption</h3>
                    <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
                </div>
            </li>
            <li>
                <img src="http://lorempixel.com/580/250/nature/3"> <!-- random image -->
                <div class="caption right-align">
                    <h3>Right Aligned Caption</h3>
                    <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
                </div>
            </li>
            <li>
                <img src="http://lorempixel.com/580/250/nature/4"> <!-- random image -->
                <div class="caption center-align">
                    <h3>This is our big Tagline!</h3>
                    <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
                </div>
            </li>
        </ul>
    </div>
</section>
<!--Slider End-->

<!--Best Movies-->
<section id="bestMovies">
    <div class="parallax-container" style="height: 10%;">
        <div class="container">
            <h2 class="center-align yellow-text text-accent-2" style="font-family: Vanity;">Best Movies</h2>
            <div class="row">
                {{#each bestMovies}}
                <div class="col l3 s6">
                    <div class="card">
                        <div class="card-image">
                            <a href="/movie/{{this.id}}">
                                <img class="movieCover responsive-img" src={{this.medium_cover_image}}>
                            </a>
                        </div>
                    </div>
                    <h5 class="flow-text">{{this.title}}</h5>
                </div>
                {{/each}}
            </div>
        </div>
        <div class="parallax">
            <img src="/images/testBackground.jpg" style="filter: blur(5px);">
        </div>
    </div>
</section>
<!--Best Movies End-->

<!--Other Movies-->
<section id="otherMovies">
    <h2 class="black-text">Other Movies</h2>
    <div class="row">
        <div class="col l3 s6">
            <div class="card">
                <div class="card-image">
                    <a href="#">
                        <img class="movieCover responsive-img" src="/images/movieCover.jpg">
                    </a>
                </div>
            </div>
            <h5 class="flow-text">John Wick 2</h5>
        </div>
        <div class="col l3 s6">
            <div class="card">
                <div class="card-image">
                    <a href="#">
                        <img class="movieCover responsive-img" src="/images/movieCover.jpg">
                    </a>
                </div>
            </div>
            <h5 class="flow-text">John Wick 2</h5>
        </div>
        <div class="col l3 s6">
            <div class="card">
                <div class="card-image">
                    <a href="#">
                        <img class="movieCover responsive-img" src="/images/movieCover.jpg">
                    </a>
                </div>
            </div>
            <h5 class="flow-text">John Wick 2</h5>
        </div>
        <div class="col l3 s6">
            <div class="card">
                <div class="card-image">
                    <a href="#">
                        <img class="movieCover responsive-img" src="/images/movieCover.jpg">
                    </a>
                </div>
            </div>
            <h5 class="flow-text">John Wick 2</h5>
        </div>
    </div>
    <div class="row">
        <div class="col l3 s6">
            <div class="card">
                <div class="card-image">
                    <a href="#">
                        <img class="movieCover responsive-img" src="/images/movieCover.jpg">
                    </a>
                </div>
            </div>
            <h5 class="flow-text">John Wick 2</h5>
        </div>
        <div class="col l3 s6">
            <div class="card">
                <div class="card-image">
                    <a href="#">
                        <img class="movieCover responsive-img" src="/images/movieCover.jpg">
                    </a>
                </div>
            </div>
            <h5 class="flow-text">John Wick 2</h5>
        </div>
        <div class="col l3 s6">
            <div class="card">
                <div class="card-image">
                    <a href="#">
                        <img class="movieCover responsive-img" src="/images/movieCover.jpg">
                    </a>
                </div>
            </div>
            <h5 class="flow-text">John Wick 2</h5>
        </div>
        <div class="col l3 s6">
            <div class="card">
                <div class="card-image">
                    <a href="#">
                        <img class="movieCover responsive-img" src="images/movieCover.jpg">
                    </a>
                </div>
            </div>
            <h5 class="flow-text">John Wick 2</h5>
        </div>
    </div>
    {{!-- <ul class="pagination center-align">
        <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
        <li class="active"><a href="#!">1</a></li>
        <li class="waves-effect"><a href="#!">2</a></li>
        <li class="waves-effect"><a href="#!">3</a></li>
        <li class="waves-effect"><a href="#!">4</a></li>
        <li class="waves-effect"><a href="#!">5</a></li>
        <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
    </ul> --}}
</section>
<script src="/js/scrollreveal.js"></script>
<script>
    window.sr = ScrollReveal();
    sr.reveal('#bestMovies', {
        duration: 2000,
        distance:'1000px',
        origin:'left'
    });
    sr.reveal('#otherMovies', {
        duration: 2000,
        distance:'1000px',
        origin: 'right',
        viewFactor: 0.25
    });
</script>
<!--Other Movies End-->
