<style>
    body {
        background-image: url("https://yts.ag/assets/images/movies/john_wick_chapter_2_2017/background.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 50%;
    }
</style>
<div class="container" style="padding-top: 50px;">
    <!--Modal for trailer-->
    <div id="trailer" class="modal">
        <div class="modal-content">
            <div class="video-container responsive-video">
                <iframe width="853" height="480" src="//www.youtube.com/embed/XGk2EfbD_Ps?rel=0" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
    <!--End of modal-->

    <!--Movie Display-->
    <div class="row">
        <div class="col l4 s12">
            <img class="movieCoverProfile" src="images/movieCover.jpg" alt="Image is loading...">
        </div>
        <div class="col l8 s12 white-text">
            <h3 class="center-align">John Wick</h3>
            <hr>
            <p>Year: <span class="yellow-text text-accent-2">2017</span></p>
            <p>Rating: <span class="yellow-text text-accent-2">7.8</span></p>
            <p>Runtime: <span class="yellow-text text-accent-2">122 minutes</span></p>
            <p>Genres: <span class="yellow-text text-accent-2">Action, Thriller, Crime</span></p>
            <p>Cast: <span class="yellow-text text-accent-2">Keeanu Reves, Bruce Willis, John Fuck</span></p>
            <p>Description: <span class="yellow-text text-accent-2">After returning to the criminal underworld to repay a debt, John Wick discovers that a large bounty has been put on his life.</span></p>
            <p>Trailer: <b><a href="#trailer"><button style="color: black" class="btn waves-effect waves-light yellow accent-2">Play <i class="fa fa-play" aria-hidden="true"></i></button></a></b></p>
        </div>
    </div>
    <!--End of movie display-->

    <!--Pictures-->
    <div class="row">
        <div class="col l4 s12"><img class="materialboxed" width="100%" src="https://yts.ag/assets/images/movies/john_wick_2014/medium-screenshot1.jpg"></div>
        <div class="col l4 s12"><img class="materialboxed" width="100%" src="https://yts.ag/assets/images/movies/john_wick_2014/medium-screenshot2.jpg"></div>
        <div class="col l4 s12"><img class="materialboxed" width="100%" src="https://yts.ag/assets/images/movies/john_wick_2014/medium-screenshot3.jpg"></div>
    </div>
    <!--End pictures-->

    <!--Movie download links-->
    <div class="row">
        <h2 class="center-align white-text">Download Links</h2>
        <div class="col l6 s6">
            <table class="bordered centered" style="border: 6px solid #ffff00">
                <thead class="downloadTableHead">
                    <th style="color: black;">
                        HD 720p
                    </th>
                </thead>
                <tbody>
                    <tr>
                        <td>Size: 880 MB</td>
                    </tr>
                    <tr>
                        <td>Seeds: 1007</td>
                    </tr>
                    <tr>
                        <td>Peers: 594</td>
                    </tr>
                    <tr>
                        <td><button class="btn yellow accent-2" style="color: #000; font-weight: 500; ">Download&nbsp;<i class="fa fa-download fa-2x" aria-hidden="true"></i></button></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col l6 s6">
            <table class="bordered centered" style="border: 6px solid #ffff00">
                <thead class="downloadTableHead">
                <th style="color: black;">
                    FULL HD 1080p
                </th>
                </thead>
                <tbody>
                <tr>
                    <td>Size: 1560 MB</td>
                </tr>
                <tr>
                    <td>Seeds: 1007</td>
                </tr>
                <tr>
                    <td>Peers: 594</td>
                </tr>
                <tr>
                    <td><button class="btn yellow accent-2" style="color: #000; font-weight: 500; ">Download&nbsp;<i class="fa fa-download fa-2x" aria-hidden="true"></i></button></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!--End movie download links-->
</div>