@goldColor: #ffff00;

@font-face {
	font-family: Vanity;
	src: url(fonts/Vanity-LightWide.ttf);
}

body {
	background: black;
}

.brand-logo {
	font-family: Vanity;
}

#otherMovies {
	background-color: @goldColor;
	padding: 50px 100px 50px 100px;
}

.movie {
	border: 2px solid @goldColor;
}

.profilePic {
	border: 2px solid @goldColor;
	object-fit: cover;
	margin: auto;
	display: block;
}

.movieCover {
	max-width: 203px;
	border: 3px solid black;
	border-radius: 10px;
}

.movieCoverProfile {
	max-width: 250px !important;
	border: 3px solid white;
	object-fit: cover;
	margin: auto;
	display: block;
}

.movieCoverMain {
	max-width: 250px !important;
	margin: 0 30px 0 30px;
	object-fit: cover;
	margin: auto;
	display: block;
}

.movieBackground {
	filter: blur(5px);
	object-fit: cover;
}

.downloadTableHead {
	border: 3px solid #ffff00;
	background: #ffff00;
}

a {
	color: inherit;
}